# Prepare Datasets
To de-normalize SalesOrderHeader and SalesOrderDetail datasets<br>
- **Sales Order Header** combined with;
 - SalesTerritory
 - Customer
 - Person
 - **Target:** STG_SalesOrderHeader.csv
- **Sales Order Detail** combined with;
 - Product
 - ProdcutSubcategory
 - ProductCategroy
 - SpecialOffer
 - **Target:** STG_SalesOrderDetail.csv

In [69]:
import pandas as pd

# SalesOrderHeader processing

### SalesTerritory

In [70]:
terr = pd.read_csv('datasets/SalesTerritory.csv', usecols=[0,1,2], index_col=0, 
                   names=['TerritoryID','Territory','Country'], header=0)
terr.head()

             Territory Country
TerritoryID
1            Northwest      US
2            Northeast      US
3              Central      US
4            Southwest      US
5            Southeast      US

### Customer

In [71]:
cust = pd.read_csv('datasets/Customer.csv', index_col=0, usecols=[0,1,4])
# cust['PersonID'].value_counts(dropna=False).head()
# cust.loc['29825',:]
cust.head()

            PersonID AccountNumber
CustomerID
1                NaN    AW00000001
2                NaN    AW00000002
3                NaN    AW00000003
4                NaN    AW00000004
5                NaN    AW00000005

### Person

In [72]:
persons = pd.read_csv('datasets/Person.csv', usecols=[0,1,4,6], index_col=0)
persons.head()

                 PersonType FirstName    LastName
BusinessEntityID
1                        EM       Ken     Sánchez
2                        EM     Terri       Duffy
3                        EM   Roberto  Tamburello
4                        EM       Rob     Walters
5                        EM      Gail    Erickson

In [73]:
print('FirstName null count: {}'.format(persons.FirstName.isnull().sum()))
print('LastName null count: {}'.format(persons.FirstName.isnull().sum()))

FirstName null count: 0
LastName null count: 0

In [74]:
persons['PersonName'] = persons['FirstName'] + ' ' + persons['LastName']
persons.drop(['FirstName','LastName'], axis='columns', inplace=True)
persons.head()

                 PersonType          PersonName
BusinessEntityID
1                        EM         Ken Sánchez
2                        EM         Terri Duffy
3                        EM  Roberto Tamburello
4                        EM         Rob Walters
5                        EM       Gail Erickson

## SalesOrderHeader

In [75]:
soh_cols = ['SalesOrderID','OrderDate', 'OnlineOrderFlag',
            'CustomerID','SalesPersonID','TerritoryID',
            'SubTotal','TaxAmt','Freight','TotalDue']

soh = pd.read_csv('datasets/SalesOrderHeader.csv', usecols=soh_cols, parse_dates=['OrderDate'], index_col=0)
soh.head()

,OrderDate,OnlineOrderFlag,CustomerID,SalesPersonID,TerritoryID,SubTotal,TaxAmt,Freight,TotalDue
SalesOrderID,,,,,,,,,
43659,2011-05-31,False,29825,279.0,5,20565.6206,1971.5149,616.0984,23153.2339
43660,2011-05-31,False,29672,279.0,5,1294.2529,124.2483,38.8276,1457.3288
43661,2011-05-31,False,29734,282.0,6,32726.4786,3153.7696,985.5530,36865.8012
43662,2011-05-31,False,29994,282.0,6,28832.5289,2775.1646,867.2389,32474.9324
43663,2011-05-31,False,29565,276.0,4,419.4589,40.2681,12.5838,472.3108

### Joining SalesOrderHeader and supplemental info

In [76]:
stg_soh = soh.join(cust, on='CustomerID', how='left') \
        .join(persons, on='PersonID', how='left') \
        .join(persons['PersonName'], on='SalesPersonID', how='left', rsuffix='SP') \
        .join(terr, on='TerritoryID', how='left')

# rename some columns
stg_soh.rename({'PersonType': 'CustType', 'PersonName': 'CustName', 'PersonNameSP':'SalesPersonName'}, axis=1, inplace=True)
# drop some columns
stg_soh.drop(['CustomerID','SalesPersonID','TerritoryID','PersonID'], axis=1, inplace=True)
stg_soh.head(20)

,OrderDate,OnlineOrderFlag,SubTotal,TaxAmt,Freight,TotalDue,AccountNumber,CustType,CustName,SalesPersonName,Territory,Country
SalesOrderID,,,,,,,,,,,,
43659,2011-05-31,False,20565.6206,1971.5149,616.0984,23153.2339,AW00029825,SC,James Hendergart,Tsvi Reiter,Southeast,US
43660,2011-05-31,False,1294.2529,124.2483,38.8276,1457.3288,AW00029672,SC,Takiko Collins,Tsvi Reiter,Southeast,US
43661,2011-05-31,False,32726.4786,3153.7696,985.5530,36865.8012,AW00029734,SC,Jauna Elson,José Saraiva,Canada,CA
43662,2011-05-31,False,28832.5289,2775.1646,867.2389,32474.9324,AW00029994,SC,Robin McGuigan,José Saraiva,Canada,CA
43663,2011-05-31,False,419.4589,40.2681,12.5838,472.3108,AW00029565,SC,Jimmy Bischoff,Linda Mitchell,Southwest,US
43664,2011-05-31,False,24432.6088,2344.9921,732.8100,27510.4109,AW00029898,SC,Sandeep Katyal,Pamela Ansman-Wolfe,Northwest,US
43665,2011-05-31,False,14352.7713,1375.9427,429.9821,16158.6961,AW00029580,SC,Richard Bready,David Campbell,Northwest,US
43666,2011-05-31,False,5056.4896,486.3747,151.9921,5694.8564,AW00030052,SC,Abraham Swearengin,Linda Mitchell,Southwest,US
43667,2011-05-31,False,6107.0820,586.1203,183.1626,6876.3649,AW00029974,SC,Scott MacDonald,Jillian Carson,Central,US
43668,2011-05-31,False,35944.1562,3461.7654,1081.8017,40487.7233,AW00029614,SC,Ryan Calafato,José Saraiva,Canada,CA
43669,2011-05-31,False,714.7043,70.5175,22.0367,807.2585,AW00029747,SC,Carolyn Farino,David Campbell,Northwest,US
43670,2011-05-31,False,6122.0820,587.5603,183.6126,6893.2549,AW00029566,SC,Mae Black,Michael Blythe,Central,US
43671,2011-05-31,False,8128.7876,780.8136,244.0042,9153.6054,AW00029890,SC,Peggy Justice,David Campbell,Northwest,US
43672,2011-05-31,False,6124.1820,587.6023,183.6257,6895.4100,AW00030067,SC,Phyllis Thomas,José Saraiva,Canada,CA
43673,2011-05-31,False,3746.2015,357.9614,111.8629,4216.0258,AW00029844,SC,Nancy Hirota,Michael Blythe,Northeast,US
43674,2011-05-31,False,2624.3820,251.9407,78.7315,2955.0542,AW00029596,SC,Eric Brumfield,José Saraiva,Canada,CA
43675,2011-05-31,False,5716.3102,546.8759,170.8987,6434.0848,AW00029827,SC,Valerie Hendricks,Jillian Carson,Central,US
43676,2011-05-31,False,14203.4580,1363.2660,426.0206,15992.7446,AW00029811,SC,Mark Hanson,Michael Blythe,Southeast,US
43677,2011-05-31,False,7793.1108,747.1011,233.4691,8773.6810,AW00029824,SC,Brenda Heaney,Garrett Vargas,Canada,CA
43678,2011-05-31,False,9799.9243,942.0740,294.3981,11036.3964,AW00029889,SC,Jean Jordan,Shu Ito,Southwest,US

In [77]:
# save!
stg_soh.to_csv('staging/STG_SalesOrderHeader.csv')

# SalesOrderDetail processing

### Product

In [78]:
cols = [0, 1, 8, 9, 18, 19]
products = pd.read_csv('datasets/Product.csv', usecols=cols, index_col = 0)
products.rename({'Name':'Product'}, axis='columns', inplace=True)
# _ = [ print('{}: {}'.format(k,v)) for k,v in enumerate(products.columns)]
products.head()

,Product,StandardCost,ListPrice,ProductSubcategoryID,ProductModelID
ProductID,,,,,
1,Adjustable Race,0.0,0.0,NaN,NaN
2,Bearing Ball,0.0,0.0,NaN,NaN
3,BB Ball Bearing,0.0,0.0,NaN,NaN
4,Headset Ball Bearings,0.0,0.0,NaN,NaN
316,Blade,0.0,0.0,NaN,NaN

### ProductSubCategory

In [79]:
psubcats = pd.read_csv('datasets/ProductSubCategory.csv', usecols=[0,1,2], index_col=0)
psubcats.rename({'Name':'ProductSubcategory'}, axis='columns', inplace=True)
psubcats.head()

                      ProductCategoryID ProductSubcategory
ProductSubcategoryID
1                                     1     Mountain Bikes
2                                     1         Road Bikes
3                                     1      Touring Bikes
4                                     2         Handlebars
5                                     2    Bottom Brackets

### ProductCategory

In [80]:
pcats = pd.read_csv('datasets/ProductCategory.csv', usecols=[0,1], index_col=0)
pcats.columns = ['ProductCategory']
pcats.head()

                  ProductCategory
ProductCategoryID
1                           Bikes
2                      Components
3                        Clothing
4                     Accessories

In [81]:
pmod = pd.read_csv('datasets/ProductModel.csv', index_col=0)
pmod.columns = ['ProductModel']
pmod.head()

                          ProductModel
ProductModelID
122             All-Purpose Bike Stand
119                          Bike Wash
115                         Cable Lock
98                               Chain
1                         Classic Vest

### Merge Product master

In [82]:
stg_products = products.join(psubcats, on='ProductSubcategoryID', how='left') \
    .join(pcats, on='ProductCategoryID', how='left') \
    .join(pmod, on='ProductModelID', how='left')

stg_products.drop(['ProductSubcategoryID','ProductCategoryID','ProductModelID'], axis=1, inplace=True)
stg_products #.head(100)

,Product,StandardCost,ListPrice,ProductSubcategory,ProductCategory,ProductModel
ProductID,,,,,,
1,Adjustable Race,0.0000,0.00,NaN,NaN,NaN
2,Bearing Ball,0.0000,0.00,NaN,NaN,NaN
3,BB Ball Bearing,0.0000,0.00,NaN,NaN,NaN
4,Headset Ball Bearings,0.0000,0.00,NaN,NaN,NaN
316,Blade,0.0000,0.00,NaN,NaN,NaN
317,LL Crankarm,0.0000,0.00,NaN,NaN,NaN
318,ML Crankarm,0.0000,0.00,NaN,NaN,NaN
319,HL Crankarm,0.0000,0.00,NaN,NaN,NaN
320,Chainring Bolts,0.0000,0.00,NaN,NaN,NaN
321,Chainring Nut,0.0000,0.00,NaN,NaN,NaN
322,Chainring,0.0000,0.00,NaN,NaN,NaN
323,Crown Race,0.0000,0.00,NaN,NaN,NaN
324,Chain Stays,0.0000,0.00,NaN,NaN,NaN
325,Decal 1,0.0000,0.00,NaN,NaN,NaN
326,Decal 2,0.0000,0.00,NaN,NaN,NaN
327,Down Tube,0.0000,0.00,NaN,NaN,NaN
328,Mountain End Caps,0.0000,0.00,NaN,NaN,NaN
329,Road End Caps,0.0000,0.00,NaN,NaN,NaN
330,Touring End Caps,0.0000,0.00,NaN,NaN,NaN
331,Fork End,0.0000,0.00,NaN,NaN,NaN
332,Freewheel,0.0000,0.00,NaN,NaN,NaN
341,Flat Washer 1,0.0000,0.00,NaN,NaN,NaN
342,Flat Washer 6,0.0000,0.00,NaN,NaN,NaN
343,Flat Washer 2,0.0000,0.00,NaN,NaN,NaN
344,Flat Washer 9,0.0000,0.00,NaN,NaN,NaN
345,Flat Washer 4,0.0000,0.00,NaN,NaN,NaN
346,Flat Washer 3,0.0000,0.00,NaN,NaN,NaN
347,Flat Washer 8,0.0000,0.00,NaN,NaN,NaN
348,Flat Washer 5,0.0000,0.00,NaN,NaN,NaN
349,Flat Washer 7,0.0000,0.00,NaN,NaN,NaN
...,...,...,...,...,...,...
970,"Touring-2000 Blue, 46",755.1508,1214.85,Touring Bikes,Bikes,Touring-2000
971,"Touring-2000 Blue, 50",755.1508,1214.85,Touring Bikes,Bikes,Touring-2000
972,"Touring-2000 Blue, 54",755.1508,1214.85,Touring Bikes,Bikes,Touring-2000
973,"Road-350-W Yellow, 40",1082.5100,1700.99,Road Bikes,Bikes,Road-350-W
974,"Road-350-W Yellow, 42",1082.5100,1700.99,Road Bikes,Bikes,Road-350-W
975,"Road-350-W Yellow, 44",1082.5100,1700.99,Road Bikes,Bikes,Road-350-W
976,"Road-350-W Yellow, 48",1082.5100,1700.99,Road Bikes,Bikes,Road-350-W
977,"Road-750 Black, 58",343.6496,539.99,Road Bikes,Bikes,Road-750
978,"Touring-3000 Blue, 44",461.4448,742.35,Touring Bikes,Bikes,Touring-3000
979,"Touring-3000 Blue, 50",461.4448,742.35,Touring Bikes,Bikes,Touring-3000
980,"Mountain-400-W Silver, 38",419.7784,769.49,Mountain Bikes,Bikes,Mountain-400-W
981,"Mountain-400-W Silver, 40",419.7784,769.49,Mountain Bikes,Bikes,Mountain-400-W
982,"Mountain-400-W Silver, 42",419.7784,769.49,Mountain Bikes,Bikes,Mountain-400-W
983,"Mountain-400-W Silver, 46",419.7784,769.49,Mountain Bikes,Bikes,Mountain-400-W
984,"Mountain-500 Silver, 40",308.2179,564.99,Mountain Bikes,Bikes,Mountain-500
985,"Mountain-500 Silver, 42",308.2179,564.99,Mountain Bikes,Bikes,Mountain-500
986,"Mountain-500 Silver, 44",308.2179,564.99,Mountain Bikes,Bikes,Mountain-500
987,"Mountain-500 Silver, 48",308.2179,564.99,Mountain Bikes,Bikes,Mountain-500
988,"Mountain-500 Silver, 52",308.2179,564.99,Mountain Bikes,Bikes,Mountain-500
989,"Mountain-500 Black, 40",294.5797,539.99,Mountain Bikes,Bikes,Mountain-500
990,"Mountain-500 Black, 42",294.5797,539.99,Mountain Bikes,Bikes,Mountain-500
991,"Mountain-500 Black, 44",294.5797,539.99,Mountain Bikes,Bikes,Mountain-500
992,"Mountain-500 Black, 48",294.5797,539.99,Mountain Bikes,Bikes,Mountain-500
993,"Mountain-500 Black, 52",294.5797,539.99,Mountain Bikes,Bikes,Mountain-500
994,LL Bottom Bracket,23.9716,53.99,Bottom Brackets,Components,LL Bottom Bracket
995,ML Bottom Bracket,44.9506,101.24,Bottom Brackets,Components,ML Bottom Bracket
996,HL Bottom Bracket,53.9416,121.49,Bottom Brackets,Components,HL Bottom Bracket
997,"Road-750 Black, 44",343.6496,539.99,Road Bikes,Bikes,Road-750
998,"Road-750 Black, 48",343.6496,539.99,Road Bikes,Bikes,Road-750
999,"Road-750 Black, 52",343.6496,539.99,Road Bikes,Bikes,Road-750

In [83]:
# just in case
stg_products.to_csv('staging/STG_ProductMaster.csv')

### SpecialOffer

In [84]:
spoffer = pd.read_csv('datasets/SpecialOffer.csv', index_col=0, usecols=[0,1,3], 
                      names=['SpecialOfferID','SpecialOffer','SpecialOfferType'],
                     header=0)
spoffer.head()

                            SpecialOffer SpecialOfferType
SpecialOfferID
1                            No Discount      No Discount
2               Volume Discount 11 to 14  Volume Discount
3               Volume Discount 15 to 24  Volume Discount
4               Volume Discount 25 to 40  Volume Discount
5               Volume Discount 41 to 60  Volume Discount

## SalesOrderDetail

In [85]:
sod = pd.read_csv('datasets/SalesOrderDetail.csv', usecols=[0,1,3,4,5,6,7,8], index_col=1)
sod.head()

,SalesOrderID,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal
SalesOrderDetailID,,,,,,,
1,43659,1,776,1,2024.994,0.0,2024.994
2,43659,3,777,1,2024.994,0.0,6074.982
3,43659,1,778,1,2024.994,0.0,2024.994
4,43659,1,771,1,2039.994,0.0,2039.994
5,43659,1,772,1,2039.994,0.0,2039.994

In [86]:
stg_sod = sod.join(stg_products, on='ProductID', how='inner') \
    .join(spoffer, on='SpecialOfferID', how='left')

stg_sod.drop(['ProductID','SpecialOfferID'], axis=1, inplace=True)
stg_sod.sort_index(inplace=True)

stg_sod.head()

,SalesOrderID,OrderQty,UnitPrice,UnitPriceDiscount,LineTotal,Product,StandardCost,ListPrice,ProductSubcategory,ProductCategory,ProductModel,SpecialOffer,SpecialOfferType
SalesOrderDetailID,,,,,,,,,,,,,
1,43659,1,2024.994,0.0,2024.994,"Mountain-100 Black, 42",1898.0944,3374.99,Mountain Bikes,Bikes,Mountain-100,No Discount,No Discount
2,43659,3,2024.994,0.0,6074.982,"Mountain-100 Black, 44",1898.0944,3374.99,Mountain Bikes,Bikes,Mountain-100,No Discount,No Discount
3,43659,1,2024.994,0.0,2024.994,"Mountain-100 Black, 48",1898.0944,3374.99,Mountain Bikes,Bikes,Mountain-100,No Discount,No Discount
4,43659,1,2039.994,0.0,2039.994,"Mountain-100 Silver, 38",1912.1544,3399.99,Mountain Bikes,Bikes,Mountain-100,No Discount,No Discount
5,43659,1,2039.994,0.0,2039.994,"Mountain-100 Silver, 42",1912.1544,3399.99,Mountain Bikes,Bikes,Mountain-100,No Discount,No Discount

In [87]:
stg_sod.to_csv('staging/STG_SalesOrderDetail.csv')

## Sales Order Header and Details combined

In [88]:
stg_final = pd.merge(stg_soh.reset_index(), stg_sod.reset_index(), on='SalesOrderID', how='inner')
stg_final.head()

,SalesOrderID,OrderDate,OnlineOrderFlag,SubTotal,TaxAmt,Freight,TotalDue,AccountNumber,CustType,CustName,...,UnitPriceDiscount,LineTotal,Product,StandardCost,ListPrice,ProductSubcategory,ProductCategory,ProductModel,SpecialOffer,SpecialOfferType
0,43659,2011-05-31,False,20565.6206,1971.5149,616.0984,23153.2339,AW00029825,SC,James Hendergart,...,0.0,2024.994,"Mountain-100 Black, 42",1898.0944,3374.99,Mountain Bikes,Bikes,Mountain-100,No Discount,No Discount
1,43659,2011-05-31,False,20565.6206,1971.5149,616.0984,23153.2339,AW00029825,SC,James Hendergart,...,0.0,6074.982,"Mountain-100 Black, 44",1898.0944,3374.99,Mountain Bikes,Bikes,Mountain-100,No Discount,No Discount
2,43659,2011-05-31,False,20565.6206,1971.5149,616.0984,23153.2339,AW00029825,SC,James Hendergart,...,0.0,2024.994,"Mountain-100 Black, 48",1898.0944,3374.99,Mountain Bikes,Bikes,Mountain-100,No Discount,No Discount
3,43659,2011-05-31,False,20565.6206,1971.5149,616.0984,23153.2339,AW00029825,SC,James Hendergart,...,0.0,2039.994,"Mountain-100 Silver, 38",1912.1544,3399.99,Mountain Bikes,Bikes,Mountain-100,No Discount,No Discount
4,43659,2011-05-31,False,20565.6206,1971.5149,616.0984,23153.2339,AW00029825,SC,James Hendergart,...,0.0,2039.994,"Mountain-100 Silver, 42",1912.1544,3399.99,Mountain Bikes,Bikes,Mountain-100,No Discount,No Discount

In [92]:
stg_final.to_csv('staging/STG_Sales.csv', index=False)

In [102]:
'{} MB'.format(stg_final.memory_usage().sum() / 1024**2)

'18.627202033996582 MB'